/*****************************************************************************
 * icons 
 *
 *  Definitions for various svg icons used throughout the site.
 *
 *****************************************************************************/

/**
 * .icon
 *
 *  utility class to define clickable svg icon behavior.  Note this is
 *  located with the individual icons due to BEM naming consistency.
 */
.icon {
  user-select: none;
  cursor: pointer;
  transition: 150ms ease-in-out; /* soften hover transition, not so abrupt */
}

/**
 * .icon--online
 */
.icon--online {
  width: 72px;
  height: 72px;

  fill: currentcolor;
}

/**
 * .icon--budgeting
 */
.icon--budgeting {
  width: 72px;
  height: 72px;

  fill: currentcolor;
}

/**
 * .icon--onboarding
 */
.icon--onboarding {
  width: 72px;
  height: 72px;

  fill: currentcolor;
}

/**
 * .icon--api
 */
.icon--api {
  width: 72px;
  height: 72px;

  fill: currentcolor;
}

/**
 * .icon--hamburger
 */
.icon--hamburger {
  width: 24px;
  height: 11px;

  margin-block: 4px;

  fill: currentcolor;
}

/**
 * .icon--close
 */
.icon--close {
  width: 18px;
  height: 19px;

  margin-inline: 3px;

  fill: currentcolor;
}

/**
 * .icon--facebook
 *
 *  Facebook company logo, used in footer.
 */
.icon--facebook {
  width: 20px;
  height: 20px;

  fill: currentcolor;
}
/**
 * .icon--youtube
 *
 * YouTube logo
 */
.icon--youtube {
  width: 21px;
  height: 20px;

  fill: currentcolor;
}

/**
 * .icon--instagram
 *
 *  Instagram company logo, used in footer.
 */
.icon--instagram {
  width: 21px;
  height: 20px;

  fill: currentcolor;
}

/**
 * .icon--twitter
 *
 *  Twitter company logo, used in footer.
 */
.icon--twitter {
  width: 21px;
  height: 18px;

  fill: currentcolor;
}
/**
 * .icon--pinterest
 *  Pinterest company logo, used in footer.
 */
.icon--pinterest {
  width: 20px;
  height: 20px;

  fill: currentcolor;
}

/**
 * .icon--logo
 *
 *  Easybank logo
 */
.icon--logo {
  width: 139px;
  height: 20px;
}
